:root {
  --transition-normal: all 350ms var(--cubic-bezier) 0s;
  --cubic-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
  --box-shadow-normal: 0px 3px 3px 0px rgba(0, 0, 0, .4);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #272a37;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: 20px;
  height: 20px;

  &:focus {
    outline: none;
  }
}