.container {
  display: flex;
  justify-content: center;
}

.main {
  padding: 60px;
  width: 100%;
  max-width: 1040px;
}

.github_link {
  display: inline-flex;
  color: white;
  position: fixed;
  top: 14px;
  right: 14px
}

.github_link svg {
  fill: white;
  width: 20px;
  height: 20px;
  transition: fill 0.2s ease;
}

.github_link:hover svg {
  fill: #ff3ed4;
  transition: fill 0.2s ease;
}

@media screen and (max-width: 700px) {
  .main {
    padding: 30px;
    padding-top: 60px;
  }
}